name: Create our Daily git History
on:
  schedule:
    - cron: "0 0 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  sharaj:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      # Important we need to checkout to have files of the repo ready
      - uses: actions/checkout@v3
      - name: "Sanity checks"
        run: pwd && ls -la
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"
      - run: npm ci
      - run: npm start
      - name: "Call a Bash Script - Painter"
        run: bash ${GITHUB_WORKSPACE}/painter.sh

      # - name: "Push to remote origin"
      #   run: git push -u -f origin feat/canvas
